<div class="ml-3 mr-3" style="max-width: 400px;">
    <h2>Statement</h2>
    <hr />
    <div class="col-md-12">
        <button class="btn btn-warning float-right" (click)="export()">Export</button>
        <h4 class="float-right mr-3">{{TotalPL}}</h4>
    </div>

    <table class="table table-striped table-light">
        <thead>
            <tr>
                <th scope="col">TxID</th>
                <th scope="col">Symbol</th>
                <th scope="col">Quantity</th>
                <th scope="col">PL</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pos of Positions">
                <th scope="row">{{pos.id}}</th>
                <td>{{pos.Symbol}}</td>
                <td>{{pos.Quantity}}</td>
                <td>{{pos.PL}}</td>
            </tr>
        </tbody>
    </table>
</div>